.encabezado-foto img {
    @include images (100%, 100%);
    object-fit: contain;
}

form {
    font-family: $primary-font;
    font-size: 20px;
    @include background-color (darkgray);
    border: 1px solid black;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'content form'
        'map     form';
    padding: 20px;
    gap: 20px;
    width: 100%;


    iframe {
        grid-area: map;
        @include images (100%, 400px);
        padding: 50px;
        margin: 0px;
    }
}

.form-grid {
    display: grid;
    grid-area: content;
    text-align: center;
    padding: 5px;
    gap: 10px;
    width: 100%;
}

.form-data {
    display: grid;
    grid-area: form;
    justify-content: center;
    align-items: center;


    input,
    textarea {
        width: 100%;
        padding: 15px;
        font-size: 20px;
        @include background-color (rgb(26, 24, 24));
        border: 1px solid white;
        color: white;
    }
}