.d-inline-block {
    @include images (90px, 60px);
}


.element {
    @extend .flexible;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, black, rgba(255, 255, 255, 0.034)), url('../assets/Images/bafle-edifier.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    h2 {
        color: rgb(255, 255, 255, 0.781);
        font-size: 50px;
        background-clip: text;
    }
}

.element-gradiente {
    font-size: 40px;
    padding: 5px;
    transition: 2s;
    border: 25px solid transparent;
    animation: efecto;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 7s;
    transform: scale(3);

    &:hover {
        transform: scale(3);
        border-radius: 100%;
    }
}


@keyframes efecto {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }

    100% {
        opacity: 5;
    }
}

.carousel {
    width: 100%;
    height: 650px;
    overflow: hidden;
    position: relative;


    .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        animation: carousel 15s infinite linear;

        &:nth-child(1) {
            animation-delay: 0s;
        }

        &:nth-child(2) {
            animation-delay: 5s;
        }

        &:nth-child(3) {
            animation-delay: 10s;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

}

@keyframes carousel {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    33% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }

}